@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Cera Pro Regular";
  src: url("../../public/fonts/Cera\ Pro\ Regular.otf");
}

@font-face {
  font-family: "Cera Pro Bold";
  src: url("../../public/fonts/Cera\ Pro\ Bold.otf");
}

@layer components {
  .grid-all {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 'profile detail detail';
  }

  .grid-profile {
    grid-area: 'profile';
  }

  .grid-detail {
    grid-area: 'detail';
  }
}
